[Unit]
Description=Status API Service for ETS2 Server
After=network.target

[Service]
ExecStart=/bin/bash /run_status_api.sh
Restart=always
User=steam
WorkingDirectory=/app

[Install]
WantedBy=multi-user.target
